{% extends 'administrateur/admin.html.twig' %}

{% block title %}TypeRV index{% endblock %}

{% block body %}
    <h1>TypeRV index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_r_v in type_r_vs %}
            <tr>
                <td>{{ type_r_v.id }}</td>
                <td>{{ type_r_v.libelle }}</td>
                <td>{{ type_r_v.prix }}</td>
                <td>
                    <a href="{{ path('app_type_r_v_show', {'id': type_r_v.id}) }}">show</a>
                    <a href="{{ path('app_type_r_v_edit', {'id': type_r_v.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_r_v_new') }}">Create new</a>
{% endblock %}
